body{
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.9em;
	color: #bbb;
}

*
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-btn-settings-container {
    position: fixed;
    left: 100%;
    height: 30px;
    width: 30px;
    margin-top: -15px;
    outline-width: 0px;
}

#ui-btn-settings-container > a {
    margin-left: -40px;
    outline-width: 0px;
}

.wallpaper-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url("../images/bg04.png") no-repeat center;
}

.no-border{border: none !important;}
.text-item{vertical-align: middle;}
.title, .bar-nav>a{color: #ddd; text-transform: uppercase;}
.blue-nav{
	/*background-color: #214860;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -moz-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -o-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -ms-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: gradient(linear, left top, left bottom, from(#333), to(#222));
    -webkit-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	-moz-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
}

.ui-screen-hidden
{
	display: none;
}


input[type="text"].semi-transparent-bgnd, 
input[type="number"].semi-transparent-bgnd, 
input[type="time"].semi-transparent-bgnd 
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	color: #999;
	font-size: .8em;
}

.delete-entry 
{
  float right;
  width: 20px;
  height: 20px;
  background-size: cover;
  background: url("../images/rubbishbin.png") no-repeat center;
  margin-left: -30px;
  margin-right: 20px;
  margin-bottom: -17px;
}

.delete-entry:hover
{
  cursor:pointer;
}

#nav-bar-container
{
	display: inline;
	width: 272px;
	overflow: hidden;
	padding-left: 50%;
	margin-left: -157px;
}

#nav-bar-container > ul 
{
	width: 272px;
	position: absolute;
	display: inline;
	margin: 0;
	padding: 0;
}

#nav-bar-container > ul > li
{
	list-style-type: none;
	white-space: nowrap;
	display: inline;
	float: left;
	border: 1px solid #ddd;
	background: transparent;
	width: 90px;
	height: 25px;
	color: #ddd;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 10px -1px 0 0;
	font-size: 14px;
}


#nav-bar-container > ul > li:hover 
{
	cursor: pointer;
}



#menu-item-stats-view.checked, #menu-item-list-view.checked, #menu-item-calendar-view.checked
{
	background-color: #ddd;
	font-weight: bold;
	color: #000;
}

#nav-bar-container > ul > li:first-child
{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#nav-bar-container > ul > li:last-child
{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

span.icon.icon-plus, span.icon.icon-plus:before { background: transparent; border: 0; }

.btn-primary.pull-right { 
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -moz-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -o-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -ms-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: gradient(linear, left top, left bottom, from(#333), to(#222));
    border-top: 1px solid #333;
    border-bottom: 2px solid #222;
    border-left: 0;
    border-right: 0;
}
.bar-header-secondary{
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	-moz-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	background: url("../images/bg04.png") no-repeat center;
  	background-size: cover;
 }
 .bar {
 	border-bottom: 0;
 }
.bar-standard{
	border-bottom: none !important; height: 60px; padding-top: 15px;
	-webkit-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	-moz-box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
  	box-shadow: -1px 3px 26px 6px rgba(0,0,0,0.44);
}

input.pull-left { color: #fff; }

input.pull-left::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.2);
}
input.pull-left:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.2);
}
input.pull-left::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.2);
}
input.pull-left:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.2);
}


.input-group {
	background-color: rgba(0,0,0,0.7); 
	-webkit-box-shadow: -1px 3px 66px 6px rgba(0,0,0,0.84);
  	-moz-box-shadow: -1px 3px 66px 6px rgba(0,0,0,0.84);
  	box-shadow: -1px 3px 66px 6px rgba(0,0,0,0.84);
  	border-radius: 6px;
}
.input-row{ 
	height: 30px !important; border: 0 #222 solid;
	border-radius: 6px;
}
.input-row input{height: 28px !important; float: left !important; font-size: 13px; padding-left: 10px;}
.input-row>.btn, .input-row span.icon{top: 0 !important;border-radius: 0 !important;padding: 6px 8px 7px;font-size: 13px;font-weight: bold;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content, #calendar-content, #stats-content, #routine-detail-content, #listview-content {
	float: left;
	width: 100%;  
	min-height: 100%;
	background-color: rgba(128, 128, 128, 0);
}

#calendar-content {
	padding-top: 10px;
	margin-left: 100%;
}

#stats-content {
	margin-left: 200%;
}

#routine-detail-content {
	padding: 80px 15px 25px 15px;
	margin-left: -100%;
  overflow-x: hidden; 
}



.content > ul { background-color: rgba(255, 255, 255, 0); }
.content li.table-view-cell{padding: 15px 65px 15px 58px; font-size: 14px !important;}
.content li.table-view-cell input[type="checkbox"]{display: none;}
.content > .table-view {font-family: 'PT Sans', sans-serif;margin-bottom: 0 !important;border-bottom: none !important;}
.content > .table-view:first-child{margin-top: 14px; }
.content > ul.table-view>li{background-color: rgba(0, 0, 0, 0); color: #ddd; border: none;}
.content > ul.table-view>li>div.square-checkbox label{background-color: rgba(0, 0, 0, 0);}
.content > ul.table-view>li:nth-child(odd){background-color: rgba(20, 20, 20, 0.2); }
.content > ul.table-view>li:nth-child(odd)>div.square-checkbox label{background-color: rgba(20, 20, 20, 0);}
.content > ul.table-view>li>span{color: #ddd; border-color: #ddd; width: 80px;border-radius: 0 !important;padding: 4px 8px 4px;letter-spacing: 1px;}
.content > ul.table-view>li.checked{background-color: rgba(67, 67, 67, 0.8); color: rgb(120, 120, 120); border-bottom: 1px solid rgb(120, 120, 120); }
.content > ul.table-view>li.checked>span{color: rgb(120, 120, 120); border-color: rgb(120, 120, 120); width: 80px;}
.content > ul.table-view>li.checked>div.square-checkbox{background-color: rgb(120, 120, 120, 0);}
.content > ul.table-view>li.checked>div.square-checkbox label{background-color: rgba(120, 120, 120, 0);}
.content > ul.table-view>li.checked>div.square-checkbox label:after{border-color: rgba(120, 120, 120, 0);}
.square-checkbox{width: 20px; height: 20px; background-color: rgba(255, 255, 255, 0); border-radius: 4px; position: absolute; top: 50%; left: 15px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50% ); border: 2px solid #bbb; }
.square-checkbox label{cursor: pointer; position: absolute; width: 16px; height: 16px; }
.square-checkbox label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; content: ''; position: absolute; width: 8px; height: 4px; background: transparent; top: 3px; left: 3px; border: 2px solid #ddd; border-top: none; border-right: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.square-checkbox label:hover::after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); opacity: 0.3; }
.square-checkbox input[type=checkbox]:checked + label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }


.backdrop { background-color: rgba(0, 0, 0, 0.6);}

/*********** Bootstrap Modal **********/

.glyphicon-modal-window:before {
  content: "\e237";
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-right: 15px;
}
.close:hover,
.close:focus {
  color: #a00;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 25;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
/*
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
*/


.modal.fade .modal-dialog {
    opacity: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  margin: 10px;
  opacity: 0;
}
.modal-content {
  position: relative;
  background-color: #222;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=76);
  opacity: .75;
}
.modal-header {
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#1b1b1b));
    background: -moz-gradient(linear, left top, left bottom, from(#333), to(#1b1b1b));
    background: -o-gradient(linear, left top, left bottom, from(#333), to(#1b1b1b));
    background: -ms-gradient(linear, left top, left bottom, from(#333), to(#1b1b1b));
  padding: 5px 0;
  overflow: hidden;
  color: #eee;
  border-bottom: 1px solid #333;
  width: 100%;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  margin-left: 15px;
  line-height: 1.42857143;
}
.modal-body {
  padding: 15px;
  position: relative;
}
.modal-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#1b1b1b));
    background: -moz-gradient(linear, left top, left bottom, from(#2e2e2e), to(#1b1b1b));
    background: -o-gradient(linear, left top, left bottom, from(#2e2e2e), to(#1b1b1b));
    background: -ms-gradient(linear, left top, left bottom, from(#2e2e2e), to(#1b1b1b));
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  white-space: pre;
}

.modal-header:after,
.modal-footer:after {
  clear: both;
}


.modal-dialog, .modal-content, .modal-body
{
    max-width: 350px;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 60px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}



.TabbedPanelsTab 
{
    width: 75px;
    text-align: center;
}

.validate-modal-dialog {
    padding: 0.1em 0.5em;
    margin: 0;
    line-height: 1.5em;
    display: inline-block;
    color: rgb(200, 240, 240);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -moz-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -o-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -ms-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: gradient(linear, left top, left bottom, from(#333), to(#222));
    border: 2px solid #444;
    text-shadow: 0 0 2px #300;
    font-weight: bold;
    color: #999;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    white-space: nowrap;
}



/*********** Project Calendar **********/

.businesshour-container
{
  width: 100%;
}

.calendar-setting-label
{
    width: 30px;
    white-space: nowrap;
    margin: 5px;
}

#project-calendar {
    max-width: 1200px;
    margin: 60px 0 10px 0;
    padding: 0 10px;
  }

  .fc-center > h2 { font-size: 18px;}

.fc-row, .fc-week {
  min-width: 300px;
  width:100%;
}

.fc-time-grid-event
{
  min-width: 40px;
}

.fc-content-col, .fc-event-container
{
  width: 100%;
}

.fc-view-container, .fc-list-view, .fc-scroller, table.fc-list-table
{
  width: 100%;
}

.fc td, .fc th{
	border-color: rgba(128, 128, 128, 0.3);
}

a.fc-day-number, th.fc-day-header > a { color: #888;}

.fc-day-grid-event, .fc-time-grid-event
{
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.55);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.55);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.55);
}

.fc-bgevent-skeleton { background: rgba(0, 0, 0, 0.1); }

th.fc-day-header{ background: rgba(0, 0, 0, 0.4); }

.fc-day-grid-event:hover
{
  cursor: pointer;
}

.fc-nonbusiness
{
  background-color: rgba(0, 0, 0, 0.8);
}

.fc-today, .fc-state-highlight
{
  background-color: rgba(0, 0, 0, 0.5);
}

button.fc-prev-button, button.fc-next-button, button.fc-state-default
{
	color: rgb(200, 240, 240);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -moz-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -o-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -ms-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: gradient(linear, left top, left bottom, from(#333), to(#222));
}
button.fc-button
{
	padding: 0em 0.4em;
	font-size: 0.8em;
}

/*
button.fc-state-active
{
	background: #ccc;
	color: #333;
}
*/

button.fc-state-active
{
	opacity: 0.65;
}




.routine-details-container
{
	display: block;
  overflow-x: hidden;
}


#frequency-bar-container
{
	display: inline;
	width: 282px;
	overflow: hidden;
	padding-left: 50%;
	margin-left: -141px;
}

#frequency-bar-container > ul 
{
	width: 282px;
	position: absolute;
	display: inline;
	margin: 0;
	padding: 0;
}

#frequency-bar-container > ul > li
{
	list-style-type: none;
	white-space: nowrap;
	display: inline;
	float: left;
	border: 1px solid #ddd;
	background: transparent;
	width: 94px;
	height: 25px;
	color: #ddd;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 10px -1px 0 0;
	font-size: 14px;
}


#frequency-bar-container > ul > li:hover 
{
	cursor: pointer;
}

#frequency-bar-container > ul > li:first-child
{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#frequency-bar-container > ul > li:last-child
{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#frequency-bar-container > ul > li.checked
{
	background-color: #ddd;
	font-weight: bold;
	color: #000;
}



.wd-container
{
	padding-left: 50%;
	width: 282%;
	margin: 20px 0 -40px -182px;
	
	display: inline-block;
}


ul.wd 
{
	left: 0;
	list-style-type: none;
	display: block;
}

ul.wd > li 
{
	display: inline;
	height: 40px;
}

span.daily-round-circle, span.monthly-round-circle, span.prev-month-round-circle, span.success-round-circle, span.failure-round-circle, span.dayoff-round-circle {
	margin: 5px;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	padding-top: 5px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

span.prev-month-round-circle {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #aaa;
}

span.daily-round-circle.checked, span.monthly-round-circle.checked, span.success-round-circle {
	background-color: rgba(6, 168, 26, 0.7);	
}

span.failure-round-circle {
	background-color: rgba(168, 6, 26, 0.7);	
}


span.daily-round-circle:hover, span.monthly-round-circle:hover, span.failure-round-circle:hover, span.success-round-circle:hover {
	cursor: pointer;
}


.interval-routine-calendar
{
	margin-top: 40px;
	display: inline-block;
}

.streak-container 
{
	margin-top: 10px;
	margin-bottom: -30px;	
	display: inline;
}

.streak-container > h5 
{
	margin-bottom: -8px;
	margin-right: 15px;
	display: inline;
}


.streak-container > h5 > img
{
	margin-bottom: -8px;
	margin-right: 10px;
}

.routine-reminder
{
	width: 100%;
	margin-top: 40px;
	display: inline-block;
}

.monthly-history-log > h4 {
	margin-bottom: -20px;
	margin-top: 60px;
	color: #fff;
}

.monthly-history-log > hr {
	margin-top: 25px;
}

/***************************** GRAPHS ****************************/

.amcharts-chart-div > a {
    visibility: hidden;
    display: none;
}

#routine-pie-chart, #stats-barchart
{
	width: 100%;
}



#theme-popover
{
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 250px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
  z-index: 50;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

#theme-popover > img
{
  padding: auto;
  margin: auto;
}

#theme-popover > p
{
  text-align: center;
}

#theme-popover-combo-button > span 
{
  display: none;
}














